::-webkit-scrollbar {
    display: none;
}

/* COLORING STUFF: https://imgur.com/a/Ao5OZ, https://material.io/color/#!/?view.left=1&view.right=1&primary.color=4a8db5&secondary.color=5d99be&primary.text.color=ffffff */
body {
    font-family: 'Roboto', serif;
    overflow: hidden;
    /* background-image: url('https://media.giphy.com/media/l4pT2QJzGPXlKyqty/giphy.gif'); */
    background-image: url('https://i.imgur.com/RXdOonZ.jpg');
    background-size: cover;
    color: rgba(255, 255, 255, .85);
}

.cityContainer {
    float: left;
    height: 100%;
}

.detailContainer {
    float: right;
}

.spacing {
    margin: 40px;
    padding: 0px;
}

.grid-spacing {
    padding-left: 40px !important;
}

.kiosk-interact {
    color: rgba(255, 255, 255, 1);
}

.kiosk-interact:hover {
    color: rgba(255, 255, 255, 1);
}

.kiosk-interact:focus {
    color: rgba(255, 255, 255, 1);
}

.uk-modal-dialog {
    color: #666;
}

.active-city {
    padding: 10px 10px 0px 10px;
    border: 5px 5px 5px 5px;
    border-color: #fff;
    border-radius: 10px;
    border-style: solid;
}

.active-sensor {
    border: 5px 5px 5px 5px;
    border-color: #fff;
    border-radius: 10px;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    width: 300px;
    display: inline;
}

.nonactive-sensor {
    border: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    width: 300px;
    display: inline;
}
