::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', serif;
    overflow: hidden;
}

img {
    justify-content: center !important;
}

.mdl-grid.center-items {
    justify-content: center;
}

.center-text {
    text-align: center;
}
