<div class="mdl-grid center-items">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-card mdl-shadow--2dp custom-center-width">

            <!-- Header -->
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Autonomous Period</h2>
            </div>

            <!-- Dividing line -->
            <hr style="margin: 0px; margin-left: 16px; margin-right: 16px;">

            <!-- Body -->
            <div class="mdl-card__supporting-text custom-center-width">

                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored disableAll" onclick="autoGear(this.value); autoButtons(this.id);" style="width: 100%;" id="autoSuccessID" value="success" disabled>Gear Success</button>
                <br><br>
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored disableAll" onclick="autoGear(this.value); autoButtons(this.id);" style="width: 100%;" id="autoFailID" value="fail" disabled>Gear Fail</button>
                <br><br>
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored disableAll" onclick="GearTimerStart(); autoButtons(this.id);" style="width: 100%;" id="autoContinueID" disabled>Gear Still in Bot</button>

                <br> <br>

                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="autoCrossedLine" id="lineCheckbox">
                    <input type="checkbox" id="autoCrossedLine" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Crossed Line</span>
                </label>

                <br> <br> <br>

                <div class="mdl-textfield mdl-js-textfield removeDirty" style="width: 47.5%;">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="autoFuel">
                    <label class="mdl-textfield__label" for="autoFuel">Fuel Score</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                </div>
            </div>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="margin: 16px 30%; width: 40%">
                        Next
            </button>
        </div>
    </div>
</div>