<!-- Red: rgb(190, 15, 15); Blue: rgb(30, 100, 240); Green: rgb(15, 157, 88) -->

<!DOCTYPE html>
<html lang="en">
<head>

    <title>EPICS Weather Station</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Import style sheet and custom card css files -->
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/assets/ws-card.css" />

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

    <!-- TODO: Look into usage of jQuery UI (has effects and more) -->

    <!-- Import jQuery and Roboto Font -->
    <!-- JQuery CDN provided by https://developers.google.com/speed/libraries/#jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Import UIKit Set -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>

</head>

<body>
    <div class="uk-grid-divider" uk-grid style="padding:30px;">
        <!-- City menu -->
        <div class="cityContainer uk-width-1-5">
            <!-- First card -->
            <div class="ws-city-card">
                <!-- Top section (Image) -->
                <div onclick="changeCity('Weather Station')" style="cursor: pointer;" id="WeatherStationCard">
                    <img src="assets/img/Lafayette.jpg">
                </div>
                <!-- Bottom section (caption) -->
                <div>
                    <!-- Hacky way to change data via selenium -->
                    <p class="ws-city-caption">L<a id="ShowWindSpeed" onclick="changeSensor('wind_speed')" class="kiosk-interact">a</a
                        ><a id="ShowWindGust" onclick="changeSensor('wind_gust')" class="kiosk-interact">f</a
                        ><a id="ShowRainfall" onclick="changeSensor('rainfall')" class="kiosk-interact">a</a
                        ><a id="ShowHumidity" onclick="changeSensor('humidity')" class="kiosk-interact">y</a
                        ><a id="ShowTemperature" onclick="changeSensor('temperature')" class="kiosk-interact">e</a
                        ><a id="ShowPressure" onclick="changeSensor('pressure')" class="kiosk-interact">t</a
                        >te, IN</p>
                </div>
            </div>

            <div class="ws-city-breaker"></div>

            <!-- Second card -->
            <div class="ws-city-card">
                <!-- Top section (Image) -->
                <div onclick="changeCity('Sacramento')" style="cursor: pointer;" id="SacramentoCard">
                    <img src="assets/img/Sacramento.jpg">
                </div>
                <!-- Bottom section (caption) -->
                <div>
                    <p class="ws-city-caption">Sacramento, CA</p>
                </div>
            </div>

            <div class="ws-city-breaker"></div>

            <!-- Third card -->
            <div class="ws-city-card">
                <!-- Top section (Image) -->
                <div onclick="changeCity('Tampa')" style="cursor: pointer;" id="TampaCard">
                    <img src="assets/img/Tampa.jpg">
                </div>
                <!-- Bottom section (caption) -->
                <div>
                    <p class="ws-city-caption">Tampa, FL</p>
                </div>
            </div>

            <div class="ws-city-breaker"></div>

            <!-- Fourth card -->
            <div class="ws-city-card">
                <!-- Top section (Image) -->
                <div onclick="changeCity('Washington')" style="cursor: pointer;" id="WashingtonCard">
                    <img src="assets/img/Washington.jpg">
                </div>
                <!-- Bottom section (caption) -->
                <div>
                    <p class="ws-city-caption">Washington, D.C.</p>
                </div>
            </div>
        </div>
        <!-- Detailed section of website -->
        <div class="detailContainer uk-width-4-5">
            <!-- Start top row -->
            <div class="uk-text-center" uk-grid>
                <!-- Start first card -->
                <div class="uk-width-1-3">
                    <div class="ws-top-card">
                        <!-- Title div -->
                        <div class="ws-title">
                            <span uk-icon="icon: bookmark" class="ws-title"></span>
                            <p class="ws-title" style="padding-left:5px" id="current_title">Current Temperature</p>
                        </div>


                        <p class="ws-large-text" id="current_data"></p>
                        <p class="ws-sub-text" id="data_description"></p>
                    </div>
                </div>
                <!-- Start second card -->
                <div class="uk-width-2-3">
                    <div class="ws-top-card">
                        <canvas id="sevenDayChart" width="900" height="300"></canvas>
                    </div>
                </div>
            </div>
            <!-- End top row -->
            <!-- Start middle row -->
            <div class="uk-text-center ws-middle-card" uk-grid>
                <div class="uk-width-expand">
                    <div class="">
                        <canvas id="thirtyDayChart" width="1420" height="280"></canvas>
                    </div>
                </div>
            </div>
            <!-- End middle row -->
            <!-- Start bottom row -->
            <div class="uk-text-center ws-bottom-card" uk-grid>
                <div class="uk-width-1-4">
                    <div class="uk-card uk-card-default uk-card-body">1-4</div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-card uk-card-default uk-card-body">1-4</div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-card uk-card-default uk-card-body">1-4</div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-card uk-card-default uk-card-body">1-4</div>
                </div>
            </div>
            <!-- End bottom row -->
        </div>
    </div>

    <script>
        {% include "main.js" %}
        {% include "charts.js" %}
    </script>

</body>
</html>
