<!-- Red: rgb(190, 15, 15); Blue: rgb(30, 100, 240); Green: rgb(15, 157, 88) -->

<!DOCTYPE html>
<!--<html manifest="/assets/app.manifest">-->
<html lang="en">
<head>

    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
    <script src="/lib/jquery/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/mdl-font/roboto-setup.css">

    <!--Needs to be removed for application caching-->
    <link rel="stylesheet" href="/lib/mdl/material.light_blue-red.min.css">
    <link rel="stylesheet" href="/lib/mdl/material.icons.css">
    <script src="/lib/mdl/material.min.js"></script>

</head>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-shadow--4-px">

</div>



<script>
    {% include "main.js" %}
</script>

</body>
</html>
